@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/sawarabigothic.css);
:root {
    font-family: "Rounded Mplus 1c", "Sawarabi Gothic", meiryo;
}

header {
    height: 50px;
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 255, 76, 0.678);
    text-align: center;
    z-index: 100;
    display: flex;
}   

header #title {
    margin-left: auto;
    margin-right: auto; 
}

header h1{
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

body {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    max-width: 900px;
}

.Tweet_button {
    width: 120px;
    height: 30px;
    border-radius: 10px;
    border: 1px darkcyan dashed;
    background-color: #00aced;
    font-size: 20px;
}

.Tweet_button:hover {
    background-color: #84d3f0;
}

.TimeLine ul, .search ul{
    border: 1px solid #000;
    border-radius: 3px;
    width: auto;
    margin: 10px;
    padding: 20px;
    list-style-type: none;
}

.TimeLine .retweet_sentence, .search .retweet_sentence{
    color: green;
    margin-top: 0;
}
.TimeLine .fa-retweet, .search .fa-retweet{
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    padding-right: 0.5em;
}

.TimeLine #User_info, .search #User_info {
    display: flex;
    align-items: center;
}
.TimeLine #User_info #User_Name, .search #User_info #User_Name{
    font-size: 1.1em;
    font-weight: bold;
    padding-right: 5px;
    padding-left: 5px;
}
.TimeLine #RT_Counter, .search #RT_Counter {
    display: flex;
    margin-top: 10px;
}

.TimeLine #RT_Counter .fa-heart, .search #RT_Counter .fa-heart{
    padding-left: 10px;
}

.TimeLine .img, .search .img{
    display: inline-block;
    width: 150px;
    min-height: 150px;
    background-size: cover;
    background-position: center;
}

@media ( max-width: 1200px ){
    body {
        margin-left: 10px;
        margin-right: 10px;
    }

    .Tweet #Tweet{
        width: 300px;
    }
}

@media (min-width: 768px) {
    .TimeLine ul, .search ul {
        max-width: 1200px;
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
    }
}

footer {
    background-color: rgba(0, 255, 255, 0.363);
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
}

footer #title {
    text-align: center;
}

footer h1 {
    padding: 0;
    margin: 0;
}