@charset "utf-8";

header {
    height: 50px;
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 255, 76, 0.678);
    text-align: center;
    z-index: 100;
    display: flex;
}   

header #title {
    margin-left: auto;
    margin-right: auto; 
}

header h1{
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

body {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    width: 100%;
}

.Tweet .rich-text-area-tweet {
    width: 400px;
}

footer {
    background-color: rgba(0, 255, 255, 0.363);
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
}

footer #title {
    text-align: center;
}

footer h1 {
    padding: 0;
    margin: 0;
}